In [39]:
import pandas as pd

# TODO: use S3 to to fetch data from.
submission = pd.read_csv('./data/gender_submission.csv')
test = pd.read_csv('./data/test.csv')
train = pd.read_csv('./data/train.csv')

print(f'{submission.head()=}')
print(f'{test.head(15)=}')

print("\nColumns")
print(train.columns)

print("\nGet non empty col count")
print(f'{train.count()=}')
# print(f'{test.count()=}')

submission.head()=   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
test.head(15)=    PassengerId  Pclass                                               Name  \
0           892       3                                   Kelly, Mr. James
1           893       3                   Wilkes, Mrs. James (Ellen Needs)
2           894       2                          Myles, Mr. Thomas Francis
3           895       3                                   Wirz, Mr. Albert
4           896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5           897       3                         Svensson, Mr. Johan Cervin
6           898       3                               Connolly, Miss. Kate
7           899       2                       Caldwell, Mr. Albert Francis
8           900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9           901       3                            Davies, Mr. John Samuel
10          902       3                                   Ilieff, Mr. Ylio
11          903       1                         Jones, Mr. Charles Cresson
12          904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13          905       2                               Howard, Mr. Benjamin
14          906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...

       Sex   Age  SibSp  Parch       Ticket     Fare Cabin Embarked
0     male  34.5      0      0       330911   7.8292   NaN        Q
1   female  47.0      1      0       363272   7.0000   NaN        S
2     male  62.0      0      0       240276   9.6875   NaN        Q
3     male  27.0      0      0       315154   8.6625   NaN        S
4   female  22.0      1      1      3101298  12.2875   NaN        S
5     male  14.0      0      0         7538   9.2250   NaN        S
6   female  30.0      0      0       330972   7.6292   NaN        Q
7     male  26.0      1      1       248738  29.0000   NaN        S
8   female  18.0      0      0         2657   7.2292   NaN        C
9     male  21.0      2      0    A/4 48871  24.1500   NaN        S
10    male   NaN      0      0       349220   7.8958   NaN        S
11    male  46.0      0      0          694  26.0000   NaN        S
12  female  23.0      1      0        21228  82.2667   B45        S
13    male  63.0      1      0        24065  26.0000   NaN        S
14  female  47.0      1      0  W.E.P. 5734  61.1750   E31        S

Columns
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Get non empty col count
train.count()=PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

Will not include `PassengerI`, `Name`, `Ticket`. 
Statistically does not makes sence to me. 

The `Cabin` mostly unknown, but very important. 
`Embarked` does not make sence to me atm.

`Survived` will be the Y value.

Lets now convert `Sex` to nummerical value and see train summary.

In [40]:
replace_gender = {'female': 1, "male": -1}  # all data given
test.Sex = test.Sex.replace(replace_gender)
train.Sex = train.Sex.replace(replace_gender)


print("\n Train Summary")
print(f"{train.describe()}")

 Train Summary
       PassengerId    Survived      Pclass         Sex         Age  \
count   891.000000  891.000000  891.000000  891.000000  714.000000
mean    446.000000    0.383838    2.308642   -0.295174   29.699118
std     257.353842    0.486592    0.836071    0.955980   14.526497
min       1.000000    0.000000    1.000000   -1.000000    0.420000
25%     223.500000    0.000000    2.000000   -1.000000   20.125000
50%     446.000000    0.000000    3.000000   -1.000000   28.000000
75%     668.500000    1.000000    3.000000    1.000000   38.000000
max     891.000000    1.000000    3.000000    1.000000   80.000000

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

/var/folders/bh/54y95t956h793hywb9szy8gh0000gn/T/ipykernel_79688/2641575326.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test.Sex = test.Sex.replace(replace_gender)
/var/folders/bh/54y95t956h793hywb9szy8gh0000gn/T/ipykernel_79688/2641575326.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train.Sex = train.Sex.replace(replace_gender)

In [ ]:
feature =